body{
    background-color: rgb(0, 21, 51);
}
img{
    max-width: 40%;
    border-radius: 50px;
}
.logo{
    display: flex;
    align-items: center;
    width: 300px;
    height: 130px;
    border-radius: 40px;
    margin: auto;
    border: 1px solid white;
    background-color: rgb(0, 21, 51);
    margin-top: 50px;
}

.logo span{
    color: white;
    display: inline;
}

span{
    display: block;
    padding: 10px;
}

input{
    border-radius: 20px;
    border: 1px solid rgb(0, 21, 51);
    margin-left: 5px;
}

button{
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border: 0;
    border-bottom:2px solid gray;
    color:white;
    background-color: rgb(167, 150, 245);
}

button:focus{
    border: 0;
    background-color: rgb(104, 78, 221);
}

.form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}

.container{
    text-align: center;
    background-color: white;
    width: 550px;
    margin:auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
}

.form div,
.form button{
    margin-left: 30px;
}